* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.task-input {
    display: flex;
    gap: 10px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.task-input button {
    padding: 10px 15px;
    border: none;
    background-color: #0078d4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.task-input button:hover {
    background-color: #005ea6;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-buttons button {
    margin-left: 5px;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background-color: orange;
    color: white;
}

.delete-btn {
    background-color: red;
    color: white;
}

@media(max-width: 500px) {

    .container {
        width: 90%;
    }

}